
.title {
  font-size: 2rem;
}

.form {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form_input {
  flex-basis: 100%;
  background-color: #D6D0D5;
  border: 0px;
  padding: 1.5% 2%;
  resize: none;
}
.form_input::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: gray;
}
.form_input::-moz-placeholder {
  font-size: 1.5rem;
  color: gray;
}          
.form_input:-moz-placeholder {
  font-size: 1.5rem;
  color: gray;
}         
.form_input:-ms-input-placeholder {
  font-size: 1.5rem;
  color: gray;
}      
.form_send {
  margin-top: 2%;
  margin-right: 0;
  flex-basis: 20%;
  background-color: orange;
  border: 0px;
  padding: 0.5% 0 0.5% 2%;
  text-align: left;
  color: #fff;
  font-size: 1.5rem;
}

