.container {
  width: 100%;
  margin: 5% 0%;
  height: 20vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.circle {
  flex-basis: 15%;
}
.text {
  padding: 0;
  margin: 0;
  flex-basis: 85%;
  font-size: 1.5rem;
}